<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loctel | Cineto Telecomunicaciones</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <link href="css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <link href="css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">


    <style>
        #div1 {
            overflow-y: scroll;
            height: 250px;
        }

        #div2 {
            overflow-y: scroll;
            height: 475px;
        }
    </style>
</head>

<body class="">

    <% if (isAuthenticated) { %>

        <input type="text" id="userpdf" value="<%= username.nombreUsuario %>" style="display: none" />
        <input type="text" id="rolpdf" value="<%= username.nombreRol %>" style="display: none" />

        <div id="wrapper">

            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-rounded" src="img/user.png" />
                             </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold" style="text-transform: uppercase;"><%= username.nombreUsuario %></strong>
                             </span> <span class="text-muted text-xs block"><%= username.nombreRol %> <b class="caret"></b></span> </span> </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="">Perfil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/logout">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                LT+
                            </div>
                        </li>
                        <% if(username.nombreRol === 'Administrador') { %>
                            <li class="active">
                                <a href="/adminIndex"><i class="fa fa-area-chart"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="/adminIndex">Inicio</a></li>
                                    <li><a href="/adminEstadisticasGrand?central=GRANDSTREAM">Estadísticas GRANDSTREAM</a></li>
                                    <li class="active"><a href="/adminBusquedasGrand?central=GRANDSTREAM">Búsquedas GRANDSTREAM</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/adminEmpresa"><i class="fa fa-bank"></i> <span class="nav-label">Empresa</span></a>
                            </li>
                            <li>
                                <a href="/adminCentral"><i class="fa fa-phone"></i> <span class="nav-label">Central Telefónica</span> <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li><a href="/adminCentral">Modelo Central Telefónica</a></li>
                                    <li><a href="/adminCentralCampos"> Campos Central Telefónica</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/adminDepartamento"><i class="fa fa-diamond"></i> <span class="nav-label">Departamentos</span></a>
                            </li>
                            <li>
                                <a href="/adminAgentes"><i class="fa fa-headphones"></i> <span class="nav-label">Agentes</span></a>
                            </li>
                            <li>
                                <a href="/adminSeries"><i class="fa fa-sort-numeric-asc"></i> <span class="nav-label">Series Numéricas</span></a>
                            </li>
                            <li>
                                <a href="/adminUsuarios"><i class="fa fa-group"></i> <span class="nav-label">Usuarios</span></a>
                            </li>
                            <li>
                                    <a href=""><i class="fa fa-desktop"></i> <span class="nav-label">CRM</span> <span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level">
                                        <!--<li><a href="/adminCrmCreacionCampos"> Campos</a></li>-->
                                        <li><a href="/adminCrmInformacion"> Información</a></li>
                                        <li><a href="/adminCrmAsignacion"> Asignación</a></li>
                                        <li><a href="/adminCrmConsultas"> Consultas</a></li>
                                        <li>
                                            <a href="/adminCrmUsuarios"> Usuarios</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-eye"></i>
                                        <span class="nav-label">Administración</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    <ul class="nav nav-second-level">
                                        <li >
                                           <a href="/adminAuditoria"> Auditoría</a>
                                        </li>
                                        <li>
                                            <a href="/adminErrores"> Log Errores</a>
                                        </li>
                                    </ul>
                                </li>
                            <% } %>

                                <% if(username.nombreRol === 'Consultor') { %>
                                    <li class="active">
                                        <a href="/adminIndex"><i class="fa fa-area-chart"></i> <span class="nav-label">Dashboard</span> <span class="fa arrow"></span></a>
                                        <ul class="nav nav-second-level">
                                            <li><a href="/adminIndex">Inicio</a></li>
                                            <li><a href="/adminEstadisticasGrand?central=GRANDSTREAM">Estadísticas GRANDSTREAM</a></li>
                                            <li class="active"><a href="/adminBusquedasGrand?central=GRANDSTREAM">Búsquedas GRANDSTREAM</a></li>
                                        </ul>
                                    </li>
                                    <% } %>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <div role="search" class="navbar-form-custom">
                                <div class="form-group">
                                    <input type="text" value="<%= username.nombreCentral %>" class="form-control" name="top-search" id="top-search" disabled>
                                </div>
                            </div>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message" style="text-transform: uppercase; font-weight: bold;"><%= username.nombreUsuario %> Bienvenido a Loctel</span>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                            </li>
                        </ul>

                    </nav>
                </div>
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-4">
                        <h2>Búsquedas</h2>
                        <ol class="breadcrumb">
                            <li>
                                <a>Administrador</a>
                            </li>
                            <li class="active">
                                <strong>Búsquedas - GRANDSTREAM</strong>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <div class="ibox-tools">
                                        <p style="float: left;">
                                            Búsquedas de las llamadas obtenidas de la central telefónica GRANDSTREAM
                                        </p>
                                        <a data-toggle="modal" class="btn btn-danger" id="btnInsertarFiltros" href="#modal-form" style="color: white"><b><i class="fa fa-filter"></i> INSERTAR FILTROS</b></a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab-1"> <i class="fa fa-bar-chart-o"></i> Resumen</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-2"> <i class="fa fa-list"></i> Detalles</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>Resumen General de Llamadas | Agentes</h5>
                                                                <div class="ibox-tools">
                                                                    <a class="collapse-link">
                                                                                <i class="fa fa-chevron-up"></i>
                                                                            </a>
                                                                </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                                <div id="chartContenedor" style="width: 100%;">
                                                                    <canvas id="barChart"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="ibox collapsed">
                                                            <div class="ibox-title">
                                                                <h5>Resumen General de Llamadas | Detalles</h5>
                                                                <div class="ibox-tools">
                                                                    <a class="collapse-link">
                                                                                    <i class="fa fa-chevron-up"></i>
                                                                                </a>
                                                                </div>
                                                            </div>
                                                            <div class="ibox-content table-responsive">
                                                                <table class="table table-hover margin bottom">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 1%" class="text-center">No.</th>
                                                                            <th>Extensión</th>
                                                                            <th class="text-center">Total Llamadas</th>
                                                                            <th class="text-center">Tiempo Llamadas</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbBodyResumen">

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>Resumen Total de Llamadas | Global</h5>
                                                                <div class="ibox-tools">
                                                                    <a class="collapse-link">
                                                                                        <i class="fa fa-chevron-up"></i>
                                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                                <div class="row" id="resumenGlobalLlamadas">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div id="tab-2" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="ibox float-e-margins">
                                                            <div class="ibox-title">
                                                                <h5>Resultados Detallados de Llamadas | Agentes</h5>
                                                            </div>
                                                            <div class="ibox-content">

                                                                <div class="table-responsive" id="tableDetails">
                                                                    <table id="tbDetalles" class="table table-striped table-bordered table-hover">
                                                                        <thead>
                                                                            <th></th>
                                                                            <th></th>
                                                                            <th> </th>
                                                                            <th> </th>
                                                                            <th> </th>
                                                                            <th> </th>
                                                                            <th> </th>
                                                                            <th> </th>
                                                                        </thead>
                                                                        <tbody>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                            <td width="60"></td>
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="modal-form" class="modal fade" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">

                                <h3 class="m-t-none m-b" style="font-weight: bold">INGRESAR FILTROS DE BÚSQUEDA</h3>
                                <hr>
                                <div class="form-group" id="msm_error">

                                </div>
                                <div class="col-sm-6 b-r">

                                    <div class="form-group">
                                        <label>Modelo Central Telefónica:</label>
                                        <select class="form-control m-b" name="cbxModeloCentral" id="cbxModeloCentral">
                                            <% modeloCentral.forEach(function(modeloCentral) { %>
                                                <option value="<%= modeloCentral.cen_id %>"><%= modeloCentral.cen_nombre %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Departamentos:</label>
                                        <select class="form-control m-b" name="cbxDepartamento" id="cbxDepartamento">
                                          
                                    </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Extensiones:</label>
                                        <select class="form-control m-b" id="cbxExtensiones" name="cbxExtensiones" multiple="multiple" style="height: 35px">                                           
                                                            
                                    </select>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Tipo de Llamada:</label>
                                        <select class="form-control m-b" name="cbxTipoLlamada" id="cbxTipoLlamada">
                                                    <option value="Llamadas Realizadas">Llamadas Realizadas</option>
                                                    <option value="Llamadas Recibidas">Llamadas Recibidas</option>
                                             </select>
                                    </div>
                                    <div class="form-group" id="data_1">
                                        <label>Fecha - Desde:</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"
                                                class="form-control" id="txtFechaDesde" name="txtFechaDesde">
                                        </div>
                                    </div>
                                    <div class="form-group" id="data_1">
                                        <label>Fecha - Hasta:</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"
                                                class="form-control" id="txtFechaHasta" name="txtFechaHasta">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <br>
                                    <button class="ladda-button btn btn-success dim" data-style="expand-right" type="button" id="btnBuscarGrand" style="width: 150px"><i class="fa fa-search"></i> Mostrar</button>
                                    <button class="ladda-button btn btn-warning dim" data-style="expand-right" type="button" id="btnPDF" style="width: 150px"><i class="fa fa-file"></i> REPORTE</button>
                                    <button class="btn btn-danger  dim" type="button" data-dismiss="modal" style="width: 150px"><i class="fa fa-times"></i> Cerrar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mainly scripts -->
            <script src="js/jquery-3.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
            <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

            <script src="js/inspinia.js"></script>
            <script src="js/plugins/pace/pace.min.js"></script>
            <script src="js/plugins/chartJs/Chart.min.js"></script>
            <script src="js/plugins/datapicker/bootstrap-datepicker.js"></script>

            <script src="js/plugins/dataTables/datatables.min.js"></script>

            <script src="js/plugins/ladda/spin.min.js"></script>
            <script src="js/plugins/ladda/ladda.min.js"></script>
            <script src="js/plugins/ladda/ladda.jquery.min.js"></script>

            <script src="js/bootstrap-multiselect.js" type="text/javascript"></script>

            <script src="js/jspdf.min.js"></script>
            <script src="js/jspdf.plugin.autotable.js"></script>

            <script>
                $(document).ready(function () {
                    $('#modal-form').modal('show');
                    InsertarFecha();
                });

                $('#cbxModeloCentral').click(function (event) {
                    var central = $('#cbxModeloCentral').val();
                    BuscarDepartamentos(central);
                });

                $('#cbxDepartamento').click(function (event) {
                    var departamento = $('#cbxDepartamento').val();
                    BuscarExtensiones(departamento);
                });

                $('#btnPDF').click(function (event) {

                    var columnsOne = [
                        { title: "Número Origen", dataKey: "numero_origen_llamada" },
                        { title: "Fecha", dataKey: "fecha_llamada" },
                        { title: "Tiempo Inicio", dataKey: "tiempo_inicio_llamada" },
                        { title: "Tiempo Final", dataKey: "tiempo_final_llamada" },
                        { title: "Duración Timbrada", dataKey: "duracion_timbrada" },
                        { title: "Duración Llamada", dataKey: "duracion_llamada" },
                        { title: "Operadora", dataKey: "operadora_llamada" },
                        { title: "Número Destino", dataKey: "numero_destino_llamada" }
                    ];

                    var combo = document.getElementById("cbxModeloCentral");
                    var modeloCentralB = combo.options[combo.selectedIndex].text;
                    var selected = $("#cbxExtensiones option:selected");
                    var concat = "";

                    var fechaInicioV = $('#txtFechaDesde').val();
                    var fechaFinalV = $('#txtFechaHasta').val();
                    var tipoLlamada = $('#cbxTipoLlamada').val();
                    var extensionesV = "";

                    var doc = new jsPDF('l', 'mm', [297, 210]);

                    var data = [];
                    var resumen = [];

                    var l = $('.ladda-button').ladda();
                  

                    if (validar() && tipoLlamada == "Llamadas Realizadas") {
                        l.ladda('start');
                        selected.each(function () {
                            concat += "llamada.lla_numero_origen = \\'" + $(this).val() + "\\' OR ";
                        });

                        extensionesV = concat.substring(0, (concat.length - 3));

                        $.ajax({
                            type: "GET",
                            url: "/LlamadasRealizadasGrand",
                            dataType: "json",
                            data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                            success: function (responseText) {

                                data = responseText[0];

                                $.ajax({
                                    type: "GET",
                                    url: "/LlamadasRealizadasRecibidasTotalGrand",
                                    dataType: "json",
                                    data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                                    success: function (responseText) {

                                        resumen = responseText[0][0];

                                        doc.setFontSize(18);
                                        doc.text('HISTORIAL DE LLAMADAS REALIZADAS', 14, 22);
                                        doc.setFontSize(11);
                                        doc.setTextColor(100);

                                        var date = doc.splitTextToSize("FECHA: " + FechaHora(), doc.internal.pageSize.width - 35, {});
                                        doc.text(date, 14, 30);
                                        var user = doc.splitTextToSize("REALIZADO POR: " + $('#userpdf').val(), doc.internal.pageSize.width - 35, {});
                                        doc.text(user, 14, 35);
                                        var rols = doc.splitTextToSize("ROL: " + $('#rolpdf').val(), doc.internal.pageSize.width - 35, {});
                                        doc.text(rols, 14, 40);

                                        doc.setFontSize(15);
                                        doc.text('RESUMEN GLOBAL DE LLAMADAS REALIZADAS', 14, 52);
                                        doc.setFontSize(11);
                                        doc.setTextColor(100);

                                        var minimo = doc.splitTextToSize("MÍNIMO TIEMPO DE LLAMADA: " + resumen.minimo_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(minimo, 14, 60);
                                        var maximo = doc.splitTextToSize("MÁXIMO TIEMPO DE LLAMADA: " + resumen.maximo_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(maximo, 14, 65);
                                        var tot = doc.splitTextToSize("TOTAL TIEMPO DE LLAMADAS: " + resumen.total_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(tot, 14, 70);
                                        var promedio = doc.splitTextToSize("PROMEDIO TIEMPO POR LLAMADA: " + resumen.promedio_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(promedio, 14, 75);
                                        var total = doc.splitTextToSize("TOTAL LLAMADAS: " + resumen.total_llamadas, doc.internal.pageSize.width - 35, {});
                                        doc.text(total, 14, 80);

                                        doc.autoTable(columnsOne, data, { startY: 90, showHeader: 'firstPage' });

                                        doc.save('Reporte-Llamadas-Realizadas.pdf');

                                        l.ladda('stop');

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Ocurrio un error');
                                    }

                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Ocurrio un error');
                            }
                        });

                    } else if (validar() && tipoLlamada == "Llamadas Recibidas") {
                        l.ladda('start');
                        selected.each(function () {
                            concat += "llamada.lla_numero_destino = \\'" + $(this).val() + "\\' OR ";
                        });

                        extensionesV = concat.substring(0, (concat.length - 3));

                        $.ajax({
                            type: "GET",
                            url: "/LlamadasRecibidasGrand",
                            dataType: "json",
                            data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                            success: function (responseText) {

                                data = responseText[0];

                                $.ajax({
                                    type: "GET",
                                    url: "/LlamadasRealizadasRecibidasTotalGrand",
                                    dataType: "json",
                                    data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                                    success: function (responseText) {

                                        resumen = responseText[0][0];

                                        doc.setFontSize(18);
                                        doc.text('HISTORIAL DE LLAMADAS RECIBIDAS', 14, 22);
                                        doc.setFontSize(11);
                                        doc.setTextColor(100);

                                        var date = doc.splitTextToSize("FECHA: " + FechaHora(), doc.internal.pageSize.width - 35, {});
                                        doc.text(date, 14, 30);
                                        var user = doc.splitTextToSize("REALIZADO POR: " + $('#userpdf').val(), doc.internal.pageSize.width - 35, {});
                                        doc.text(user, 14, 35);
                                        var rols = doc.splitTextToSize("ROL: " + $('#rolpdf').val(), doc.internal.pageSize.width - 35, {});
                                        doc.text(rols, 14, 40);

                                        doc.setFontSize(15);
                                        doc.text('RESUMEN GLOBAL DE LLAMADAS RECIBIDAS', 14, 52);
                                        doc.setFontSize(11);
                                        doc.setTextColor(100);

                                        var minimo = doc.splitTextToSize("MÍNIMO TIEMPO DE LLAMADA: " + resumen.minimo_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(minimo, 14, 60);
                                        var maximo = doc.splitTextToSize("MÁXIMO TIEMPO DE LLAMADA: " + resumen.maximo_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(maximo, 14, 65);
                                        var tot = doc.splitTextToSize("TOTAL TIEMPO DE LLAMADAS: " + resumen.total_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(tot, 14, 70);
                                        var promedio = doc.splitTextToSize("PROMEDIO TIEMPO POR LLAMADA: " + resumen.promedio_tiempo_llamada, doc.internal.pageSize.width - 35, {});
                                        doc.text(promedio, 14, 75);
                                        var total = doc.splitTextToSize("TOTAL LLAMADAS: " + resumen.total_llamadas, doc.internal.pageSize.width - 35, {});
                                        doc.text(total, 14, 80);

                                        doc.autoTable(columnsOne, data, { startY: 90, showHeader: 'firstPage' });

                                        doc.save('Reporte-Llamadas-Recibidas.pdf');

                                        l.ladda('stop');

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert('Ocurrio un error');
                                    }

                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Ocurrio un error');
                            }
                        });

                    }

                });

                $('#btnBuscarGrand').click(function (event) {

                    var combo = document.getElementById("cbxModeloCentral");
                    var modeloCentralB = combo.options[combo.selectedIndex].text;
                    var selected = $("#cbxExtensiones option:selected");
                    var concat = "";

                    var fechaInicioV = $('#txtFechaDesde').val();
                    var fechaFinalV = $('#txtFechaHasta').val();
                    var tipoLlamada = $('#cbxTipoLlamada').val();
                    var extensionesV = "";

                    if (validar() && tipoLlamada == "Llamadas Realizadas") {

                        selected.each(function () {
                            concat += "llamada.lla_numero_origen = \\'" + $(this).val() + "\\' OR ";
                        });

                        extensionesV = concat.substring(0, (concat.length - 3));
                        BuscarLLamadasRealizadas(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);
                        BuscarLLamadasRealizadasResumen(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);
                        BuscarLLamadasRealizadasRecibidasTotal(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);

                    } else if (validar() && tipoLlamada == "Llamadas Recibidas") {

                        selected.each(function () {
                            concat += "llamada.lla_numero_destino = \\'" + $(this).val() + "\\' OR ";
                        });

                        extensionesV = concat.substring(0, (concat.length - 3));
                        BuscarLLamadasRecibidas(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);
                        BuscarLLamadasRecibidasResumen(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);
                        BuscarLLamadasRealizadasRecibidasTotal(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB);
                    }

                });

                function BuscarDepartamentos(central) {

                    $.ajax({
                        type: "GET",
                        url: "/DepartamentosGrand",
                        data: { cbxModeloCentral: central },
                        success: function (responseText) {
                            var htmlOut = '';
                            for (var i = 0; i < responseText.length; i++) {
                                htmlOut += "<option value=\"" + responseText[i].dep_id + "\">" + responseText[i].dep_nombre + "</option>\n"
                            }
                            $('#cbxExtensiones').empty();
                            $('#cbxDepartamento').empty();
                            $('#cbxDepartamento').append(htmlOut);
                        }
                    });
                }

                function BuscarExtensiones(departamento) {
                    $.ajax({
                        type: "GET",
                        url: "/ExtensionesGrand",
                        data: { cbxDepartamento: departamento },
                        success: function (responseText) {
                            var htmlOut = '';
                            for (var i = 0; i < responseText.length; i++) {
                                htmlOut += "<option value='" + responseText[i].ext_numero + "'>" + responseText[i].ext_nombre + "  " + responseText[i].ext_numero + "</option>\n";
                            }

                            $('#cbxExtensiones').empty();
                            $('#cbxExtensiones').append(htmlOut);

                            $('#cbxExtensiones').multiselect('destroy');
                            $('#cbxExtensiones').multiselect({
                                includeSelectAllOption: true,
                                enableFiltering: true,
                                buttonWidth: '100%',
                                maxHeight: 200
                            });
                        }
                    });
                }

                function BuscarLLamadasRealizadas(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB) {
                    var l = $('.ladda-button').ladda();
                    l.ladda('start');
                    $.ajax({
                        type: "GET",
                        url: "/LlamadasRealizadasGrand",
                        data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                        success: function (responseText) {
                            
                            var table = $('#tbDetalles').DataTable();
                            table.destroy();
                            $('#tbDetalles').empty();
                            table = $('#tbDetalles').DataTable({
                                "ordering": false,
                                pageLength: 25,
                                responsive: true,
                                dom: '<"html5buttons"B>lTfgitp',
                                buttons: [
                                    { extend: 'csv', className: 'exportar-csv-e' },
                                    { extend: 'excel', title: 'grandstream-search-excel', className: 'exportar-excel-e' },
                                    {
                                        text: '<i class=\'fa fa-refresh\'><i>',
                                        action: function (e, dt, node, config) {
                                            location.reload();
                                        }
                                    }
                                ],
                                data: responseText[0],
                                columns: [
                                    { data: 'numero_origen_llamada', title: "Número Origen" },
                                    {
                                        data: 'fecha_llamada', title: "Fecha Llamada", render: function formatDate(date) {
                                            var d = new Date(date),
                                                month = '' + (d.getMonth() + 1),
                                                day = '' + d.getDate(),
                                                year = d.getFullYear();

                                            if (month.length < 2) month = '0' + month;
                                            if (day.length < 2) day = '0' + day;

                                            return [year, month, day].join('-');
                                        }
                                    },
                                    { data: 'tiempo_inicio_llamada', title: "Tiempo Inicio" },
                                    { data: 'tiempo_final_llamada', title: "Tiempo Final" },
                                    { data: 'duracion_timbrada', title: "Duración Timbrada" },
                                    { data: 'duracion_llamada', title: "Duración Llamada" },
                                    { data: 'operadora_llamada', title: "Operadora" },
                                    { data: 'numero_destino_llamada', title: "Número Destino" }
                                ],
                                "language": {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                    },
                                    searchPlaceholder: "Buscar datos"
                                }
                            });

                            l.ladda('stop');

                            $('#modal-form').modal('toggle');
                        }
                    });
                }

                function BuscarLLamadasRealizadasResumen(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB) {
                    $.ajax({
                        type: "GET",
                        url: "/LlamadasRealizadasResumenGrand",
                        data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                        success: function (responseText) {

                            var labels = new Array();
                            var values = new Array();
                            var suma = 0;
                            var promedio = 0;

                            var htmlOut = '';
                            for (var i = 0; i < responseText[0].length; i++) {

                                var color = '';

                                suma += responseText[0][i].total_llamadas;
                                promedio = (suma) / (responseText[0].length);

                                if (responseText[0][i].total_llamadas >= promedio) {
                                    color = 'primary';
                                } else if (responseText[0][i].total_llamadas < promedio) {
                                    color = 'danger';
                                }

                                htmlOut += "<tr>" +
                                    "<td class='text-center'>" + (i + 1) + "</td>" +
                                    "<td>" + responseText[0][i].numero_origen_llamada + "</td>" +
                                    "<td class='text-center small'>" + responseText[0][i].total_llamadas + "</td>" +
                                    "<td class='text-center small'>" + ConvertirASegundos(responseText[0][i].tiempo_llamadas) + "</td>" +
                                    "<td class='text-center'> <span class='label label-" + color + "'><i class='fa fa-phone'></i></span> </td>" +
                                    "</tr>";

                                labels.push(responseText[0][i].numero_origen_llamada);
                                values.push(responseText[0][i].total_llamadas);
                            }
                            $('#tbBodyResumen').empty();
                            $('#tbBodyResumen').append(htmlOut);

                            var barData = {
                                labels: labels,
                                datasets: [
                                    {
                                        label: "",
                                        backgroundColor: 'rgba(26,179,148,1)',
                                        borderColor: "#1A987E",
                                        borderWidth: 3,
                                        data: values
                                    }
                                ]
                            };

                            var barOptions = {
                                responsive: true,
                            };

                            var myNewChart1;

                            if (window.myNewChart1 != null) {
                                window.myNewChart1.destroy();
                            }

                            var ctx1 = document.getElementById("barChart").getContext("2d");
                            window.myNewChart1 = new Chart(ctx1, { type: 'bar', data: barData, options: barOptions });

                        }
                    });
                }

                function BuscarLLamadasRecibidasResumen(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB) {
                    $.ajax({
                        type: "GET",
                        url: "/LlamadasRecibidasResumenGrand",
                        data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                        success: function (responseText) {

                            var labels = new Array();
                            var values = new Array();
                            var suma = 0;
                            var promedio = 0;

                            var htmlOut = '';
                            for (var i = 0; i < responseText[0].length; i++) {

                                var color = '';

                                suma += responseText[0][i].total_llamadas;
                                promedio = (suma) / (responseText[0].length);

                                if (responseText[0][i].total_llamadas >= promedio) {
                                    color = 'primary';
                                } else if (responseText[0][i].total_llamadas < promedio) {
                                    color = 'danger';
                                }

                                htmlOut += "<tr>" +
                                    "<td class='text-center'>" + (i + 1) + "</td>" +
                                    "<td>" + responseText[0][i].numero_origen_llamada + "</td>" +
                                    "<td class='text-center small'>" + responseText[0][i].total_llamadas + "</td>" +
                                    "<td class='text-center small'>" + ConvertirASegundos(responseText[0][i].tiempo_llamadas) + "</td>" +
                                    "<td class='text-center'> <span class='label label-" + color + "'><i class='fa fa-phone'></i></span> </td>" +
                                    "</tr>";

                                labels.push(responseText[0][i].numero_origen_llamada);
                                values.push(responseText[0][i].total_llamadas);
                            }
                            $('#tbBodyResumen').empty();
                            $('#tbBodyResumen').append(htmlOut);

                            var barData = {
                                labels: labels,
                                datasets: [
                                    {
                                        label: "",
                                        backgroundColor: 'rgba(26,179,148,1)',
                                        borderColor: "#1A987E",
                                        borderWidth: 3,
                                        data: values
                                    }
                                ]
                            };

                            var barOptions = {
                                responsive: true,
                            };

                            var myNewChart1;

                            if (window.myNewChart1 != null) {
                                window.myNewChart1.destroy();
                            }

                            var ctx1 = document.getElementById("barChart").getContext("2d");
                            window.myNewChart1 = new Chart(ctx1, { type: 'bar', data: barData, options: barOptions });

                        }
                    });
                }

                function BuscarLLamadasRecibidas(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB) {
                    var l = $('.ladda-button').ladda();
                    l.ladda('start');
                    $.ajax({
                        type: "GET",
                        url: "/LlamadasRecibidasGrand",
                        data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                        success: function (responseText) {

                            var table = $('#tbDetalles').DataTable();
                            table.destroy();
                            $('#tbDetalles').empty();
                            table = $('#tbDetalles').DataTable({
                                "ordering": false,
                                pageLength: 25,
                                responsive: true,
                                dom: '<"html5buttons"B>lTfgitp',
                                buttons: [
                                    { extend: 'csv', className: 'exportar-csv-e' },
                                    { extend: 'excel', title: 'grandstream-search-excel', className: 'exportar-excel-e' },
                                    {
                                        text: '<i class=\'fa fa-refresh\'><i>',
                                        action: function (e, dt, node, config) {
                                            location.reload();
                                        }
                                    }
                                ],
                                data: responseText[0],
                                columns: [
                                    { data: 'numero_origen_llamada', title: "Número Origen" },
                                    {
                                        data: 'fecha_llamada', title: "Fecha Llamada", render: function formatDate(date) {
                                            var d = new Date(date),
                                                month = '' + (d.getMonth() + 1),
                                                day = '' + d.getDate(),
                                                year = d.getFullYear();

                                            if (month.length < 2) month = '0' + month;
                                            if (day.length < 2) day = '0' + day;

                                            return [year, month, day].join('-');
                                        }
                                    },
                                    { data: 'tiempo_inicio_llamada', title: "Tiempo Inicio" },
                                    { data: 'tiempo_final_llamada', title: "Tiempo Final" },
                                    { data: 'duracion_timbrada', title: "Duración Timbrada" },
                                    { data: 'duracion_llamada', title: "Duración Llamada" },
                                    { data: 'operadora_llamada', title: "Operadora" },
                                    { data: 'numero_destino_llamada', title: "Número Destino" }
                                ],
                                "language": {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                    },
                                    searchPlaceholder: "Buscar datos"
                                }
                            });

                            l.ladda('stop');

                            $('#modal-form').modal('toggle');
                        }
                    });
                }

                function BuscarLLamadasRealizadasRecibidasTotal(fechaInicioV, fechaFinalV, extensionesV, modeloCentralB) {
                    $.ajax({
                        type: "GET",
                        url: "/LlamadasRealizadasRecibidasTotalGrand",
                        data: { fechaInicio: fechaInicioV, fechaFinal: fechaFinalV, extensiones: extensionesV, modeloCentral: modeloCentralB },
                        success: function (responseText) {

                            var htmlOut = "";
                            htmlOut = "<div class='col-md-3'>" +
                                "<br>" +
                                "<h1 class='no-margins'>" + responseText[0][0].minimo_tiempo_llamada.substring(0, 8) + "</h1>" +
                                "<br>" +
                                "<div class='font-bold text-danger'><i class='fa fa-level-down'></i> <small>Mínimo Tiempo de Llamada</small></div>" +
                                "</div>" +
                                "<div class='col-md-3'>" +
                                "<br>" +
                                "<h1 class='no-margins'>" + responseText[0][0].maximo_tiempo_llamada.substring(0, 8) + "</h1>" +
                                "<br>" +
                                "<div class='font-bold text-success'><i class='fa fa-level-up'></i> <small>Máximo Tiempo de Llamada</small></div>" +
                                "</div>" +
                                "<div class='col-md-3'>" +
                                "  <br>" +
                                " <h1 class='no-margins'>" + responseText[0][0].total_tiempo_llamada.substring(0, 8) + "</h1>" +
                                "<br>" +
                                "<div class='font-bold text-navy'><i class='fa fa-phone'></i> <small>Total Tiempo de Llamada</small></div>" +
                                "</div>" +
                                "<div class='col-md-3'>" +
                                "<br>" +
                                "<h1 class='no-margins'>" + responseText[0][0].promedio_tiempo_llamada.substring(0, 8) + "</h1>" +
                                "<br>" +
                                "<div class='font-bold text-warning'><i class='fa fa-exchange'></i> <small>Promedio de Tiempo por Llamada</small></div>" +
                                "</div>"

                            $('#resumenGlobalLlamadas').empty();
                            $('#resumenGlobalLlamadas').append(htmlOut);
                        }
                    });
                }

                function InsertarFecha() {
                    $('#data_1 .input-group.date').datepicker({
                        format: 'yyyy-mm-dd',
                        todayBtn: "linked",
                        keyboardNavigation: false,
                        forceParse: false,
                        calendarWeeks: true,
                        autoclose: true
                    }).datepicker("setDate", new Date());;
                }

                function ConvertirASegundos(time) {
                    var hours = Math.floor(time / 3600);
                    var minutes = Math.floor((time % 3600) / 60);
                    var seconds = time % 60;

                    minutes = minutes < 10 ? '0' + minutes : minutes;
                    seconds = seconds < 10 ? '0' + seconds : seconds;

                    var result = hours + ":" + minutes + ":" + seconds;

                    return result;
                }

                function FechaHora() {

                    var fecha = new Date();

                    var dia_semana = [
                        "Domingo",
                        "Lunes",
                        "Martes",
                        "Miércoles",
                        "Jueves",
                        "Viernes",
                        "Sábado"
                    ];

                    var mes = [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ];

                    var dame_fecha = dia_semana[fecha.getDay()] + ", " + fecha.getDate() + " de " + mes[fecha.getMonth()] + " del " + fecha.getFullYear();

                    var hora = new Date();
                    var dame_hora = hora.getHours() + ":" + hora.getMinutes() + ":" + hora.getSeconds();

                    return dame_fecha + "   " + dame_hora;
                }

                function isValidDate(day, month, year) {
                    var dteDate;
                    month = month - 1;
                    dteDate = new Date(year, month, day);

                    return ((day == dteDate.getDate()) && (month == dteDate.getMonth()) && (year == dteDate.getFullYear()));
                }

                function validate_date(fecha) {
                    var patron = new RegExp("^(19|20)+([0-9]{2})([-])([0-9]{1,2})([-])([0-9]{1,2})$");

                    if (fecha.search(patron) == 0) {
                        var values = fecha.split("-");
                        if (isValidDate(values[2], values[1], values[0])) {
                            return true;
                        }
                    }
                    return false;
                }

                function validar() {

                    var fechaInicio = $('#txtFechaDesde').val();
                    var fechaFinal = $('#txtFechaHasta').val();
                    var extension = $('#cbxExtensiones').val();

                    if (validate_date(fechaInicio) == true) {
                        if (validate_date(fechaFinal) == true) {
                            if ($('#cbxDepartamento option').length > 0) {
                                if (extension.length > 0) {
                                    $('#msm_error').empty();
                                    return true;
                                } else {
                                    $('#msm_error').empty();
                                    $("#msm_error").html("<p style='color: #F54040; font-weight: bold'>Seleccionar almenos una Extensión</p>");
                                }
                            } else {
                                $('#msm_error').empty();
                                $("#msm_error").html("<p style='color: #F54040; font-weight: bold'>Seleccionar un Departamento</p>");
                            }
                        } else {
                            $('#msm_error').empty();
                            $("#msm_error").html("<p style='color: #F54040; font-weight: bold'>Fecha Final No Válida</p>");
                        }
                    } else {
                        $('#msm_error').empty();
                        $("#msm_error").html("<p style='color: #F54040; font-weight: bold'>Fecha Inicio No Válida</p>");
                    }

                    return false;
                }
            </script>
        <script src="js/plugins/sweetalert/sweetalert.min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <script src="js/timeOut/timeOut.js"></script>
            <%  } else{ %>
                <script>
                    location.replace('/inicio');
                </script>
                <% } %>

</body>

</html>